h1, h2, h3, th {
	  font-family: "Libre Baskerville", serif;
}

p, td, li, section {
	  font-family: "Montserrat", sans-serif;
}

body {
	background-color: rgb(229, 215, 156);
	padding: 0 20px 20px 20px;
	margin: 0;
}