
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 250px); 
  gap: 20px;
  padding: 2em;
  justify-content: center; 
  justify-items: center;   
  grid-auto-rows: auto;   
}


.movie-card {
  max-width: 600px;
  background-color: rgba(184, 96, 96, 0.9);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-card p {
  padding: 0.5em 1em 1em 1em;
  font-size: 0.9em;
  color: #555;
}

