
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 250px); 
  gap: 20px;
  padding: 2em;
  justify-content: center; 
  justify-items: center;   
  grid-auto-rows: auto;   
}


.movie-card {
  max-width: 300px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: center;
}


.movie-card p {
  padding: 0.5em 1em 1em 1em;
  font-size: 0.9em;
  color: #555;
}

