h1, h2, h3 , td {
	  font-family: "Libre Baskerville", serif;
}

p  {
	  font-family: "Montserrat", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 8px;
  border: 1px solid #434236;
  font-family: "Libre Baskerville", serif;
}
