h1, h2, h3, th {
	  font-family: "Libre Baskerville", serif;
}

p, td, li {
	  font-family: "Montserrat", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #114502;
}

#logo {
	font-family: Inter, Palatino, 
			sans-serif;
	font-size: 2em;
	color: rgba(255, 255, 255,.8);
	font-style: italic;
	text-allign: center;
	margin-bottom: 30px;
	background-color: rgb(199, 150, 162);
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

body {
	background-color: rgb(212, 230, 170);
	padding: 0 20px 20px 20px;
	margin: 0;
}

.note {
	color: black;
	border: 2px solid white;
	background-color: rgb(188, 240, 172);
	margin-top: 25px;
	margin-bottom: 35px;
	padding: 20px;
}

