
/* Open Sans - body text */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v44-latin-regular.woff2') format('woff2');
}

/* Poppins - navigation text */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  color: #000000;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
}

.logo {
  color: #6a8b91;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 0.9rem;
}

main {
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.notifications {
  max-width: 700px;
  margin: 0 auto;
}


.notification {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #6a8b91; 
}

/* notification title*/
.notification h3 {
  margin: 0 0 5px;
  font-size: 1rem;
}

/* descirption of notificaiton */
.notification p {
  margin: 0 0 8px;
  color: #4b5563;
  font-size: 0.9rem;
}

/* timestamp of notifcation */
.time {
  font-size: 0.75rem;
  color: #9ca3af;
}
