/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin: 0;
  line-height: 1.5;
  background: url('images/grid.jpg');
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
}

.logo {
  color: #6a8b91;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-family: 'Poppins', sans-serif; 
  color: #000000;
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-links a:hover {
  text-decoration: underline;
}


main {
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.summary {
  display: grid;
  gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  border-left: 5px solid #6a8b91;
}

.amount {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
  color: #6a8b91;
}


/* category section */
.categories {
  max-width: 600px;
  margin: 0 auto 40px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}


/* recent spending section */
.recent {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}


/* footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #111827;
  color: #9ca3af;
  font-size: 0.8rem;
}
