.nav-bar {
  background-color: #312154; 
  padding: 0.5rem 0;
  width: 100%;            
}
.nav-bar ul {
  display: flex;             
  justify-content: center;   
  align-items: center;
  flex-wrap: wrap;               
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0 1rem; 
}

.nav-bar a {
  text-decoration: none;     
  color: white;          
  font-family: 'ABeeZee', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 6px;

}