/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aleo-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* instrument-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/instrument-sans-v4-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



body {
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
    background: url('images/background.jpg'); 
}

h1, h2, h3 {
    font-family: "Aleo", serif;
}

header {
    background: #A3C9F9;
    padding: 2rem;
    text-align: center;
}

.intro, .jobs {
    padding: 2rem 3rem;
}

.jobs {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-card {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.job-card img {
    width: 120px;
    margin-bottom: 1rem;
}

.job-card a {
    display: inline-block;
    margin: 0.5rem 0;
    font-weight: bold;
}
