/* aleo-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aleo-v16-latin-regular.woff2') format('woff2');
}

/* instrument-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/instrument-sans-v4-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
    background: url('images/background.jpg');
}

h1, h2, h3 {
    font-family: "Aleo", serif;
}

header {
    background: #A3C9F9;
    padding: 2rem;
    text-align: center;
}

.intro, .jobs {
    display: flex;
    gap: 0.4rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.jobs {
    display: flex;
    gap: 0.2rem
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-card {
    background: white;
    border-radius: 10px;
    padding: 1rem;
    width: 20%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.job-card img {
    width: 120px;
    margin-bottom: 1rem;
}

.job-card a {
    display: inline-block;
    margin: 0.5rem 0;
    font-weight: bold;
}

/* Text outline background */
.job-card p {
    background: rgba(255, 255, 255, 0.65);
    padding: 0.8rem;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}
