/* --- Body --- */
body {
  background: url('images/gradient.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #333;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* --- Header --- */
header {
  text-align: center;
  padding: 70px 20px 30px;

}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #7a5af8; 
  margin-bottom: 10px;
}



main {
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  overflow: hidden; 
}

.candidate {
  float: left;
  width: 65%;
  margin-right: 30px;
}

.candidate-image {
  width: 250px;
  float: right;
  margin-left: 15px;
  border-radius: 10px;
  border: 2px solid #7a5af8;
}


aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: rgba(230, 220, 255, 0.8);
}

aside h2 {
  font-family: 'Playfair Display', serif;
  color: #5c44d1;
  font-size: 20px;
}

.runningmate-image {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #5c44d1;
  margin-bottom: 10px;
}


.platform {
  margin-top: 40px;
  width: 100%;
}

.platform h2 {
  color: #5c44d1;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

p {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
}

.wireframe-img, {
  width: 200px; 
  height: auto; 
}

.wireframe-img2, {
  width: 200px; 
  height: auto; 
}


